<html>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<div class="po">
<header>
    <nav>
 <ul>
     <li><a href="#"></a>HOME</li>
     <li><a href="#"></a>ABOUT</li>
     <li><a href="#"></a>SERVICE</li>
     <li><a href="#"></a>GALLERY</li>
     <li><a href="#"></a>CONTACT</li>
</ul>  
</nav>
</header><br><br>
<div class="container-fluid">
  <div class="row">
    <div class="col-6">
      <h4 class="cts">A top notch</h4> 
        <h3 class="cts">detailing assured</h3>    
    </div>
    <div class="col-6">
      <div class="g"><br><br>
      <h4 class="p">ENQUIRY FORM</h4><br><br>
      <div class="make-center">
      <input type="text" class="na" name="text" placeholder="NAME">
      </div><br><br>
      <div class="make-center">
      <input type="text" class="na" name="text" placeholder="YOUR E-MAIL">
      </div><br><br>
      <div class="make-center">
      <input type="text" class="na" name="text" placeholder="PHONE NO">
      </div><br><br>
      <div class="make-center">
      <input type="text" class="na" name="text" placeholder="VEHICLE NO">
      </div><br><br>
      <div class="make-center">
      <input type="text" class="na1" name="text">
      </div><br><br>
      <div class="make-center">
        <button class="button button1">SEND</button>
   </div></div><br><br>
  </div><br><br><br>
  <h4 class="ps">---------------------------------------------------------------------------ABOUT CERAMIC--------------------------------------------------------------------</h4><br><br>
</div>
</div><br></div><br><br>
<div class="row">
  <div class="col-sm-6">
    <div class="make-center">
   <div>
     <img [src]="myimage" alt="" height="400" width="630">
   </div>     
  </div></div>
<div class="col-sm-6">
    <p class="gh">Nano-Ceramic coating is a pristine clear coat that forms a chemical bond with the 
      vehicle’s paint and this adds an essential value to you vehicle.
      This protective coating contains Liquid polymer which generally provides 
      protection to the paint surface from swirl marks, chemical stains and prevent them 
      from bonding with the surface hence making the surface Hydrophobic. Also due to 
      its longevity and abrasion free surface just a swipe with a clean cloth restores that 
      car’s radiant finish.</p>
      <h4 class="b">Need For Ceramic Coating</h4><br>
      <p class="gh">Everyone want their vehicle to be in its best shine so people prefer applying wax 
        every few months as it wears off super soon. So to redeem from that Nano-Ceramic 
        Coating builds a protection coat that eliminates a little part of your vehicle’s 
        maintenance needs and preserves the exterior of the vehicle from environmental 
        hazards.</p>
        <div class="make-center">
        <button class="button button1">READ MORE</button>
        </div>
</div>
</div><br><br><br>
<div class="bg1"><br>
  <h4 class="c">CERAMIC COATING PROCESS</h4><br><br><br>
  <div class="row">
  <div class="col-sm-3">
    <div class="make-center">
      <div>
        <img [src]="myimage1" alt="" height="250px" width="250px">
      </div> 
  </div><br><br>
   <h4 class="u">FOAM WASH</h4>
    </div>
      <div class="col-sm-3">
        <div class="make-center">
          <div>
            <img [src]="myimage2" alt="" height="250px" width="250px">
          </div> 
          </div><br><br>
          <h4 class="u">PAINT CORRECTION</h4>
        </div>
      <div class="col-sm-3">
        <div class="make-center">
          <div>
            <img [src]="myimage3" alt="" height="250px" width="250px">
          </div> 
        </div><br><br>
          <h4 class="u">ALCOHOL CLEAN</h4>
    </div>
      <div class="col-sm-3">
        <div class="make-center">
          <div>
            <img [src]="myimage4" alt="" height="250px" width="250px">
          </div> 
          </div><br><br>
          <h4 class="u">CERAMIC COATING</h4>
         </div>
    </div>
  </div><br><br>
  <h4 class="pp">--------------------------------------------------------------------------CERAMIC BENIFITS------------------------------------------------------------------</h4><br><br>
<div class="row">
    <div class="col-sm-2">
      <div class="make-center">
        <div>
          <img [src]="myimage5" alt="" height="100px" width="100px" >
        </div> 
 </div><br><br>
 <h4 class="pi">UV&SUNSHINE</h4>
  </div>
    <div class="col-sm-2">
      <div class="make-center">
        <div>
          <img [src]="myimage6" alt="" height="100px" width="100px" >
        </div> 
        </div><br><br>
        <h4 class="pi">WEATHER EROSION</h4>
      </div>
      <div class="col-sm-2">
        <div class="make-center">
          <div>
            <img [src]="myimage7" alt="" height="100px" width="100px" >
          </div> 
        </div><br><br>
        <h4 class="pi">ACID RAIN</h4>
         </div>
           <div class="col-sm-2">
            <div class="make-center">
              <div>
                <img [src]="myimage8" alt="" height="100px" width="100px" >
              </div> 
               </div><br><br>
               <h4 class="pi">INDUSTRY POWDER</h4>
             </div>
    <div class="col-sm-2">
      <div class="make-center">
        <div>
          <img [src]="myimage9" alt="" height="100px" width="100px" >
        </div> 
        </div><br><br>
        <h4 class="pi">BIRD DROPPING</h4>
  </div>
    <div class="col-sm-2">
      <div class="make-center">
        <div>
          <img [src]="myimage10" alt="" height="100px" width="100px" >
        </div> 
        </div><br><br>
        <h4 class="pi">TREE CUM</h4>
       </div>
  </div><br><br>
  <div class="bg2"><br>
    <h4 class="n">EXPLORE THE DIAMOND SHINE</h4>
    <h4 class="n">& HARDNESS</h4><br>
    <div class="make-center">
      <div>
        <img [src]="myimage11" alt="">
      </div> 
  </div></div><br><br>
  <h4 class="l">What our customer says</h4>
  <div class="make-center">
    <div>
      <img [src]="myimage12" alt="" height="25" width="25">
    </div> 
  </div><br>
  <p class="ph">"Amazing work by Avtodock team. I gave my new Jeep compas for ceramic coat
    and after seeing the nishing i was impressed to the core. Best place for any
    car detaling  ceramic coating in affordable price. Most recommended.
    Thanks a lot guys for your treatment n work. All the best ”</p><br><br>
    <div class="og"><br><br>
    <h4 class="f">SEND US A MESSAGE</h4><br><br>
    <div class="make-center">
                <input type="text" class="na" name="text" placeholder=" YOUR NAME">
                </div><br><br>
                <div class="make-center">
                <input type="text" class="na" name="text" placeholder="YOUR E-MAIL">
                </div><br><br>
                <div class="make-center">
                <input type="text" class="na" name="text" placeholder="YOUR MESSAGE">
                </div><br><br>
                <div class="make-center">
                   <button class="bt">SUBMIT</button>
                   </div>
  </div>
  <div class="i"><br>
    <h4 class="kl">CONTACT US</h4><br>
    <div class="row">
      <div class="col-sm-6">
   <li class="footer_contact_item">
    <div class="footer_contact_icon">
      <div>
        <img [src]="myimage13" alt="" height="25" width="25">
      </div> 
    </div>
    <a class="io">AVTODOCK Maduravoyal</a>
  </li><br>
  <li class="footer_contact_item">
    <div class="footer_contact_icon">
      <div>
        <img [src]="myimage14" alt="" height="25" width="25">
      </div> 
    </div>
   <a class="io">AVTODOCK Ceramic Coating Car Wash & Accessories,Chennai.</a>
  </li><br>
  <li class="footer_contact_item">
    <div class="footer_contact_icon">
      <div>
        <img [src]="myimage15" alt="" height="25" width="25">
      </div> 
    </div>
   <a class="io">094448 18822</a>
  </li><br>
  <li class="footer_contact_item">
    <div class="footer_contact_icon">
      <div>
        <img [src]="myimage16" alt="" height="25" width="25">
      </div> 
    </div>
    <a class="io">support@Avtodock.in</a>
  </li><br>
    </div>
      <div class="col-sm-6">
        <li class="footer_contact_item">
          <div class="footer_contact_icon">
            <div>
              <img [src]="myimage17" alt="" height="25" width="25">
            </div> 
          </div>
          <a class="io">AVTODOCK Kattupakkam</a>
        </li><br>
        <li class="footer_contact_item">
          <div class="footer_contact_icon">
            <div>
              <img [src]="myimage18" alt="" height="25" width="25">
            </div> 
          </div>
          <a class="io">AVTODOCK Ceramic Coating Car Wash & Accessories,Chennai.</a>
        </li><br>
        <li class="footer_contact_item">
          <div class="footer_contact_icon">
            <div>
              <img [src]="myimage19" alt="" height="25" width="25">
            </div> 
          </div>
         <a class="io">074488 44001</a>
        </li><br>
        <li class="footer_contact_item">
          <div class="footer_contact_icon">
            <div>
              <img [src]="myimage20" alt="" height="25" width="25">
            </div> 
          </div>
          <a class="io">support@Avtodock.in</a>
        </li><br>
          </div>
          </div>
  </div>
  <div class="t"><br><br>
  <div class="row">
    <div class="col-sm-3">
      </div>
    <div class="col-sm-3">
      </div>
      <div class="col-sm-6">
        <h6 style="color: white;" class="social-footer"> Copyright @ 2020 – Avtodock | SEO by CODE GENIE SOLUTIONS</h6>
         </div>
    


